/* color palette:
#FAA6FF - dark pink
#EFC3F5 - light pink
#2F195F - dark purple
#7353BA - light purple
#0F1020 - black */

body {
    width: 1200px;
    background: rgb(239,195,245);
    background: radial-gradient(circle, rgba(239,195,245,1) 0%, rgba(173,148,227,1) 100%);
    margin: auto;
    animation-name: bgcolorchange;
    animation-duration: 30s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

@keyframes bgcolorchange {
    0% {background: radial-gradient(circle, rgba(239,195,245,1) 0%, rgba(173,148,227,1) 100%);}
    100% {background: radial-gradient(circle, rgba(173,148,227,1) 0%, rgba(239,195,245,1) 100%);}
}

header p {
    font-family: 'Hind Vadodara', sans-serif;
}

ul {
    padding-left: 0;
}

li {
    list-style-type: none;
}

header {
    background-image: url(images/banner.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    aspect-ratio: 1100 / 250;
    margin-top: auto;
}

header h1 {
    font-family: 'Paytone One', sans-serif;
    font-size: 4em;
    text-transform: uppercase;
    text-align: center;
    color: #FAF9F6;
    margin: 0;
    padding-top: 75px;
    transition: color 1s ease-in;
    cursor: pointer;
}

header h1:hover {
    color: #EFC3F5;
    transform: rotateX(2165deg);
    transition: all 5s ease-out;
}

header p {
    text-align: center;
    color: #FAF9F6;
}

#container {
    display: flex;
    justify-content: center;
}

#container h2 {
    text-align: center;
    font-size: 1.5em;
    text-transform: uppercase;
    padding-left: 80px;
    padding-right: 80px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 35px;
    background: rgb(239,195,245);
    background: radial-gradient(circle, rgba(239,195,245,1) 0%, rgba(173,148,227,1) 100%);
    border: 2px solid #FAF9F6;
    color: #0F1020;
    mix-blend-mode: overlay
}

#container h2, #container a {
    font-family: 'Gabarito', sans-serif;
}

#container li {
    background-color: #2F195F;
    border: 1px solid #FAF9F6;
    text-align: center;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    text-transform: uppercase;
    max-width: 300px;
    margin-left: auto;
    margin-right: auto;
}

#container li:hover {
    background-color:#7353BA;
}

#container a {
    color:#FAF9F6;
    text-decoration: none;
}

#studiosAndExperiments {
    margin-right: 50px;
}

#rAndD {
    margin-right: 50px;
}

footer {
    text-align: center;
    padding: 5px;
    margin: 40px;
    font-size: 15px;
    color: #0F1020;
}

footer a {
    color: #0F1020;
}

footer address {
    font-size: 14px;
}

footer address a:hover {
    color: #FAF9F6;
}